body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.budget {
    margin-bottom: 20px;
}

.budget input {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    padding: 8px;
}

.budget button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.budget button:hover {
    background-color: #0056b3;
}

.expenses, .revenue {
    padding: 0 20px;
}

.expenses h2, .revenue h2 {
    margin-bottom: 10px;
}

.expenses ul, .revenue ul {
    list-style: none;
    padding: 0;
}

.expenses li, .revenue li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.refreshPage{
    margin-right: 30px;
}